@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geortic-Bold";
  src: url("./CenturyGothicPaneuropeanBold.ttf") format("truetype");
}

body {
  font-family: "Geortic-Bold", sans-serif;
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  button.portrait\:flex {
    display: none;
  }

  p.landscape\:block {
    display: block;
  }
}

@media only screen and (min-width: 769px) {
  button.portrait\:flex {
    display: flex;
  }

  p.landscape\:block {
    display: none;
  }
}
