@import url("https://fonts.cdnfonts.com/css/century-gothic-paneuropean");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Century Gothic Paneuropean", sans-serif;
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  div.portrait\:flex {
    display: none;
  }

  div.landscape\:block {
    display: block;
  }
}

@media only screen and (min-width: 769px) {
  div.portrait\:flex {
    display: flex;
  }

  div.landscape\:block {
    display: none;
  }
}
